.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.mat-form-field {
  width: 50%;
  margin-bottom: 20px;
}

.table-container {
  width: 80%;
}

table {
  width: 100%;
}

.mat-header-cell, .mat-cell {
  text-align: center;
}

.highlight {
  font-weight: bold;
  color: #ff4081;  
}




  